<a href="https://colab.research.google.com/github/Batek26/machine_learning_bootcamp/blob/main/feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import sklearn

Load data

In [ ]:
def fetch_financial_data(company='AMZN'):
    """
    This functions fetches stock market quotations
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

               Open    High      Low   Close    Volume
Date
2022-09-15  127.380  130.37  125.495  126.28  52887196
2022-09-14  127.364  128.84  126.330  128.55  45316772
2022-09-13  131.010  131.40  126.270  126.82  72694010
2022-09-12  134.095  136.49  134.000  136.45  53826859
2022-09-09  130.910  133.69  130.760  133.27  49422259

Data copy

In [ ]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-09-15 to 2022-09-09
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

Generate new data

In [ ]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

               Open    High      Low   Close    Volume  day  month  year
Date
2022-09-15  127.380  130.37  125.495  126.28  52887196   15      9  2022
2022-09-14  127.364  128.84  126.330  128.55  45316772   14      9  2022
2022-09-13  131.010  131.40  126.270  126.82  72694010   13      9  2022
2022-09-12  134.095  136.49  134.000  136.45  53826859   12      9  2022
2022-09-09  130.910  133.69  130.760  133.27  49422259    9      9  2022

Dyskretyzacja zmiennej ciągłej

In [ ]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'height'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0     height
3   191.0     height
4   184.5     height
5   183.0     height
6   168.0      small

In [ ]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_height
0   175.0              0              0
1   178.5              1              0
2   185.0              0              1
3   191.0              0              1
4   184.5              0              1
5   183.0              0              1
6   168.0              0              0

Ekstrakcja cech

In [ ]:
df = pd.DataFrame(data={'lang':[['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [ ]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [ ]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [ ]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [ ]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [ ]:
new = df.website.str.split('.', expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com